<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Error
        <%= status %>
    </title>
</head>

<body>
    <h1>Error
        <%= status %>
    </h1>
    <p>
        <%= message %>
    </p>
    <a href="/">← Back to Home</a>
</body>

</html>